/*Universal Selector */
* {
  margin: 0;
}

/*Elements Selector*/
body {
  position: relative;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

/*make the header fixed*/
.header {
  text-align: center;
  position: fixed;
  width: 100%;
  text-align: right;
  z-index: 4;
  border-bottom: 5px solid #cb845a;
}

ul {
  padding-right: 20px;
  font-size: large;
}

li {
  display: inline;
  text-align: right;
  color: white;
  padding: 15px;
}

.section1 {
  padding-top: 60px;
  background-color: lightgray;
  padding-bottom: 60px;
  width: 100%;
  height: 500px;
}

.section2 {
  border-top: 5px solid #cb845a;
  padding-top: 60px;
  text-align: center;
  padding-bottom: 60px;
  background-color: #ddaf94;
  border-bottom: 5px solid #cb845a;
  width: 100%;
}

/*css for form*/
.form {
  margin: 0 auto;
  border: 2px solid #cb845a;
  width: 40%;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
}

footer {
  position: absolute;
  width: 100%;
  text-align: center;
}

/*position the image and caption*/
.figure {
  position: absolute;
  margin-left: 50px;
  margin-top: 50px;
  width: 50%;
  float: left;
}

.additional-info {
  margin-top: 100px;
  width: 50%;
  float: right;
  word-wrap: normal;
  margin-left: 200px;
  margin-right: 50px;
  border: 2px solid #cb845a;
  z-index: 2;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

header,
footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #696969;
}

/*details id*/
#details {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #696969;
  display: block;
  font-size: 18px;
}

/*hyperlinks color*/
a {
  color: white;
}

.text-right {
  text-align: right;
}

/*input element for form*/
input {
  box-sizing: border-box;
  width: 300px;
  border: 1px solid #4f4846;
  /* float: right; */
}

button {
  height: 30px;
  width: 120px;
  background-color: #bb8678;
  color: #fdf8f5;
  margin-top: 5px;
  margin-left: 150px;
  display: block;
}

text-center {
  text-align: center;
}
